<!doctype html>
<head>
  <title>spotiPi</title>
  <link rel=stylesheet href=https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id=container>
    <div id=heading>
      <h3>Welcome To spotiPi</h3>
    </div>
    <div id=content>
      <div id=button-container>
        <a class=button id=show_controls href=#>Show Controls</a>
        <a id=play_button class="button control_panel" href=# style="display: none;">Play</a>
        <a id=pause_button class="button control_panel" href=# style="display: none;">Pause</a>
        <a id=skip_button class="button control_panel" href=# style="display: none;">Skip</a>
        <a class=button id=now_playing href=#>Now Playing</a>
        <div id=now_playing_display style="display: none;"></div>
        <a class=button id=play_queue href=#>View Play Queue</a>
        <div id=queue style="display: none;">
          <ul>
          </ul>
        </div>
        <a class=button id=view_playlists href=#>View Playlists</a>
      </div>
      <div id=playlists style="display: none;"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
</body>
</html>
